<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: head"/>
<body>
<div th:replace="fragments/header.html :: header"/>
<div class="row">
    <form class="offset-3 col-6 form-group" th:method="post" th:action="@{/posts/write}" th:object="${postCreateRequest}">
        <br/><br/>
        <div>
            <input type="text" th:field="*{title}" placeholder="제목을 입력해 주세요"/>
        </div>
        <br/>
        <div>
            <textarea rows="10" style="width: 100%;" th:field="*{body}" placeholder="내용을 입력해 주세요"/>
        </div>
        <br/>
        <div align="center">
            <button class="btn body-btn" type="submit">등록</button>
        </div>
    </form>
</div>
</body>
</html>
